<!-- views/partials/footer.ejs -->
<!-- commenting out image credit links for now, public domain anyway and looks bad
<div class="text-sm-right" style="color: white">
Image by <a href="https://pixabay.com/users/aalmeidah-4277022/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3863855">aalmeidah</a>
from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3863855">Pixabay</a>
</div>
-->
<p class="text-sm-center" style="color: white">© Copyright 2019 Nemthel</p>
