<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Resume</a>
            <a class="nav-item nav-link" href="#">QuestLog</a>
            <a class="nav-item nav-link" href="#">Journal</a>
        </div>
    </div>

</nav>
