<!-- views/partials/head.ejs -->

<!-- Project-Wide License, as this file is included in all views: -->
<!--
Copyright 2019 Kevin Austin Strawn

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<meta charset = "UTF-8">

<title> Nemthel's Gorgeous Express Site </title>

<!-- Load Bootstrap 4.3.1 CSS from CDN for speed -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- And Bootstrap 4.3.1 JS as well -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- The CSS to be applied generally across all pages -->
<link rel='stylesheet' href='stylesheets/style.css' />
<style>
    body    { padding-top:50px; }
</style>
