<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Developer, Climber, Gamer, Philosopher, Shameless Punsman</p>
  </body>
</html>
