body {
  font-family: "Philosopher", serif;
  font-size: 24px;
}

/* color for a tags (links) */
a {
  color: #00B7FF;
}

/* Anti-aliasing for fonts (Roboto was giving some trouble with large m's and n's) */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.ttf')
}

@font-face {
  font-family: 'Philosopher';
  src: url('../fonts/philosopher/Philosopher-Regular.ttf')
}

@font-face {
  font-family: 'wild_wood';
  src: url('../fonts/wild_wood/JFWilwod.ttf')
}

/* background image styling */
.bg {
  /* Thanks to https://mdbootstrap.com/docs/jquery/css/background-image/ */

  background-image: url("/images/free_mountains_1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* a-tag styling (thanks to w3schools.com) */
/* unvisited link */
a:link {
  color: #000099;
}

/* visited link */
a:visited {
  color: #4d004d;
}

/* mouse over link */
a:hover {
  color: #0000ff;
}

/* selected link */
a:active {
  color: #00004d;
}
